extends layout

block content

  .off-canvas-wrap(data-offcanvas)
    .inner-wrap
      nav.tab-bar
        section.left-small
          a(class='left-off-canvas-toggle menu-icon'): span
        section(class='middle tab-bar-section')
          h1.title ImPlant

      aside.left-off-canvas-menu
        ul.off-canvas-list
          li: label MAIN
          li: a Map
          li: a Home
          li: label ACCOUNT
          li: a Sign In
          li: a Sign Up
          li: label INFO
          li: a About
          li: a Developers

      section.main-section

        #map

        .row
          div(class='large-6 small-6 columns upload')
            a(class='button expand') Upload Photo
          div(class='large-6 small-6 columns upload')
            a(class='button expand') Upload Message


        footer.row
          div(class='large-12 columns')
            hr
            .row
              div(class='large-12 columns')
                p © Copyright symbol because now it looks professional

    a.exit-off-canvas

  script(src='javascripts/jquery.js')
  script(src='javascripts/fastclick.js')
  script(src='javascripts/foundation.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCqmxx_iYkB1pTQ30Ym6RUJgg0xdelN-wk&sensor=FALSE')
  script(src='javascripts/webapp.js')


