extends layout

block content

  #app
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        nav.tab-bar
          section.left-small
            a(class='left-off-canvas-toggle menu-icon')
              span
          section(class='middle tab-bar-section')
            h1.title
              img(src='https://civicrm.org/sites/civicrm.org/files/civicrm/custom/logo4fb_b89280142d836e742f5d7fcff2aa3809.png', id='leaf')
              |  ImPlant

        aside.left-off-canvas-menu
          ul.off-canvas-list
            li: label DAT MENU DOE
            li(v-repeat='views',v-on='click: changeView(view)'): a {{title}}
            li: label ACCOUNT
            li: a Sign In
            li: a Sign Up
            li: label INFO
            li: a About
            li: a Developers

        section.main-section

          div(v-view='currentView')

            
    a.exit-off-canvas



