extends layout

block content

  div.top-bar(data-topbar)
    ul.title-area
      li.name
        h1
          a(rel='My Site')
            b ImPlant
      li(class='toggle-topbar menu-icon')
        a(href='#')
          span Menu
    section.top-bar-section
      ul.left
        li.divider
        li
          a(href='#') About
        li.divider
        li: a(href='#') Developers
      ul.right
        li: a(href='#', id='home') Home
        li.active: a(href='#', id='map-icon') Map
        li.divider
        li.has-dropdown
          a Account Options
          ul.dropdown
            li: a Sign Up
            li: a Sign In

  #map

  .row
    div(class='small-1 columns', style='padding-right:0;')
      p.text-right(style='padding-top:14px;') Range:
    div(class='small-10 columns')
      div(class='range-slider radius', data-slider, data-options='start:0; end: 1000; display_selector:#sliderOutput1;', id='slider')
        span.range-slider-handle
        span.range-slider-active-segment
        input(type='hidden')
    div(class='small-1 columns')
      p.text-left(style='padding-top:14px;', id='sliderOutput1')

  .row
    div(class='large-6 small-6 columns upload')
      a(class='button expand') Upload Photo
    div(class='large-6 small-6 columns upload')
      a(class='button expand') Upload Message


  footer.row
    div(class='large-12 columns')
      p © Copyright symbol because now it looks professional




