doctype html
html
  head
    title ImPlant
    link(rel='stylesheet', type='text/css', href='http://cdn.foundation5.zurb.com/foundation.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(src='javascripts/modernizr.js')
    meta(name='viewport', content='width=device-width, user-scalable=no')

  body
    block content
