doctype html
html
  head
    title ImPlant
    link(rel='stylesheet', type='text/css', href='http://cdn.foundation5.zurb.com/foundation.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(src='javascripts/modernizr.js')
    meta(name='viewport', content='width=device-width, user-scalable=no')


  body
    block content

    script(src='javascripts/jquery.js')
    script(src='javascripts/fastclick.js')
    script(src='http://cdn.foundation5.zurb.com/foundation.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCqmxx_iYkB1pTQ30Ym6RUJgg0xdelN-wk&sensor=FALSE')
    script(src='javascripts/superagent.js')
    script(src='javascripts/webapp.js')
