.upload {
  padding: 0;

}

.row {
  max-width: 100%;
}

.button {
  background-color: #7D9E00;
}

.button:hover {
  background-color: #688500;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #127806;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #0D5904;
}

.range-slider.radius .range-slider-handle {
  background: #7D9E00;
}

.range-slider.radius .range-slider-handle:hover {
  background: #688500;
}

.alert-box {
  background: #127806;
  border-color: #0D5904;
  margin: 0;
}

#leaf {
  width: 40px;
}
